<!--Search iTunes HTML-->
<div ng-controller="MediaController">

    <div class="container">
        <div class="back-settings">
            <input class="itunessearch" type="search" ng-model="query" ng-keyup="onKeyupSearch()" placeholder="Search for music, movies, etc.." style="width: 50%;"/>
            <ul ng-repeat="result in results">
                <li style="list-style: none">
                    <h3>{{result.collectionName}}</h3>
                    <h4>{{result.artistName}}</h4>
                    <img class="album" ng-src="{{result.artworkUrl100}}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
