<div ng-controller="iTunesController">
	{{error}}
	<form name="search" ng-submit="searchiTunes(artist)">
		<input type="search" required placeholder="Artist" ng-model="artist">
		<input type="submit" value="Search">
	</form>
	<table ng-show="songs">
		<thead>
			<tr>
				<th>Album Artwork</th>
				<th>Track</th>
				<th>Preview</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="song in songs">
				<td><img ng-src="{{song.artworkUrl60}}" alt="{{song.collectionName}}"/></td>
				<td>{{song.trackName}}</td>
				<td><a href="{{song.previewUrl}}">Play</a></td>
			</tr>
		</tbody>
	</table>
</div>