<!--Use a Paralax Background-->
<div class="paralax">

	<h1 class="main-heading">The Swingers</h1>

	</br>

	<!--Start of Home Page Copy-->
	<div class="container">

		<!--First Block of Copy-->
		<div class="col-sm-6">
			<div class="back-settings">
				<h2>Welcome to our Site</h2>

				<p>We are a swing/ jive band from Ireland! Although we don't have all founding members of the band we have been around for almost 20 years.  We have had many live tours and if you keep scrolling you can buy tickets to our upcoming gigs!</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<!--End of First Block-->

		<!--Second Block of Copy (button link to Music Page)-->
		<div class="col-sm-6 pad">
			<div class="back-settings">
				<h2>Hear our Latest Tracks</h2>

				<p>If you would like to check out our latest music video or listen to some of our tracks, then head over to our music page.  If you like what you hear then why not search for us on iTunes and buy a few tracks?  Just click on the button below...</p>

				<div class="text-center">
					<a href="#!/music"><button class="btn btn-primary music-button"  role="button">Music <span class="glyphicon glyphicon-chevron-right"></span></button></a>
				</div>
			</div>
		</div>
		<!--End of Second Block-->
	</div>
	<!--End of Home Page Copy-->

	</br>

	<!--Start of Live Gig Info and Tickets-->
	<h2>Catch us Live!</h2>

	<div class="container">
		<div class="col-sm-3">
			<div class="back-settings">
				<h3>Dublin</h3>
				<p>3 June 2017</p>
				<img class="img-responsive img-circle" src="img/dublin.jpg">
				<h4>The Four Leaf Clover</h4>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
					<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="back-settings">
				<h3>Glasgow</h3>
				<p>10 June 2017</p>
				<img class="img-responsive img-circle" src="img/glasgow.jpg">
				<h4>The Loch Ness Tavern</h4>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
					<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="back-settings">
				<h3>Manchester</h3>
				<p>17 June 2017</p>
				<img class="img-responsive img-circle" src="img/manchester.jpg">
				<h4>The Football Stadium</h4>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
					<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="back-settings">
				<h3>London</h3>
				<p>24 June 2017</p>
				<img class="img-responsive img-circle" src="img/london.jpg">
				<h4>The Pigeon Hole</h4>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
					<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>
	</div>
	<!--End of Live Gig Info and Tickets-->

	<!--Start of Tickets Modal (#myModal) -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Buy Tickets for The Swingers</h4>
				</div>
				<!--End of Modal Header-->

				<!-- Modal Body -->
				<div class="modal-body">
					<form>
						<!--Name Input-->
						<label><span class="glyphicon glyphicon-sunglasses"></span> Name and Surname:</label>
						</br>
						<input type="text" name="name" placeholder="What is your name?">
						</br>

						<!--Email Input-->
						<label><span class="glyphicon glyphicon-envelope"></span> Send tickets to:</label>
						</br>
						<input type="text" name="email" placeholder="Enter email adress">
						</br>

						<!--Ticket No. Input-->
						<label><span class="glyphicon glyphicon-user"></span> No. of tickets:</label>
						</br>
						<input type="number" name="number" placeholder="How many tickets?">
						</br>

						<!--Section Input-->
						<label for="section"><span class="glyphicon glyphicon-th"></span> Choose Section:
						</label>
						</br>
						<select id="section">
							<option value="empty"> </option>
							<option value="golden-circle">Golden Circle</option>
							<option value="standing-front">Standing Front</option>
							<option value="standing-back">Standing Back</option>
							<option value="seated">Seated</option>
						</select>
					</form>
				</div>
				<!--End of Modal Body-->

				<!--Modal Footer-->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onClick="alert('Check your email for your tickets!')"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button>
				</div>
				<!--End of Modal Footer-->

			</div>
		</div>
	</div>
	<!--End of Tickets Modal-->

	</br>

	<h2>Connect With Us</h2>

	<!--Start of Social Media Follow-->
	<!-- got social following idea from: https://codepen.io/PageOnline/pen/eBdjl -->
	<div class="social-icons contact">
		<div id="socialicons">
			<div class="social">
 				<a href="http://facebook.com/" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a>
 				<a href="https://youtube.com/" class="link youtube" target="_blank"><span class="fa fa-youtube-square"></span></a>
  				<a href="https://twitter.com/" class="link twitter" target="_blank"><span class="fa fa-twitter"></span></a>
			</div>      
		</div>
	<!--End of Social Media Follow-->

	<!--Start of Contact Info-->
		<div class="container map">
			<div class="col-sm-6">
				<div class="info">
					<h3>For More Information:</h3>
					<h4>Call us on +353 1234 5678</h4>
					<h4>Email us: <a href="mailto:info@theswingers.com">info@theswingers.com</a></h4>
				</div>
			</div>
	<!--End of Contact Info-->

	<!--Start of Map-->
	<!-- got responsive map idea from: https://www.ostraining.com/blog/coding/responsive-google-maps/ -->
			<div class="col-sm-6">
				<div class="map-responsive">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152515.2533333716!2d-6.385788117988245!3d53.324443138683556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDublin%2C+Ireland!5e0!3m2!1sen!2suk!4v1489059837967" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
	<!--End of Map-->
		</div>
	</div>
</div>