<div class="paralax">
	<h1 class="main-heading">The Swingers</h1>

	</br>

	<!-- Home Copy -->
	<div class="container" style="background: radial-gradient(teal, rgba(216, 205, 205, 0.48));border: solid;border-radius: 15px;">
	<h2>Welcome to our Site</h2>

	<p>We are a swing/ jive band from Ireland! Although we don't have all founding members of the band we have been around for almost 20 years.  We have had many live tours and if you keep scrolling you can buy tickets to our upcoming gigs!</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<!-- add a link to the music page -->
	<p>If you've never heard our music before then head over to our <a class="music-link" href="#!/music">music page</a> to listen to our latest tracks.</p>
	</div>
	<!-- end of Home Copy -->

	</br>

	<!-- start of get tickets -->
	<h2 class="white-text">Catch us Live!</h2>

	<div class="container">
		<div class="col-sm-3 tickets">
			<h3>Dublin</h3>
			<p>3 June 2017</p>
			<img class="img-responsive img-circle" src="img/dublin.jpg">
			<h4>The Four Leaf Clover</h4>
			<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
			<div class="text-center">
			<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
			</div>
		</div>

		<div class="col-sm-3 tickets">
			<h3>Glasgow</h3>
			<p>10 June 2017</p>
			<img class="img-responsive img-circle" src="img/glasgow.jpg">
			<h4>The Loch Ness Tavern</h4>
			<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
			<div class="text-center">
			<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
			</div>
		</div>

		<div class="col-sm-3 tickets">
			<h3>Manchester</h3>
			<p>17 June 2017</p>
			<img class="img-responsive img-circle" src="img/manchester.jpg">
			<h4>The Football Stadium</h4>
			<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
			<div class="text-center">
			<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
			</div>
		</div>

		<div class="col-sm-3 tickets">
			<h3>London</h3>
			<p>24 June 2017</p>
			<img class="img-responsive img-circle" src="img/london.jpg">
			<h4>The Pigeon Hole</h4>
			<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
			<div class="text-center">
			<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
			</div>
		</div>
	</div>
	<!-- end of get tickets -->

	<!-- start of Get Tickets modal (#myModal) -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Buy Tickets for The Swingers</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body">
					<form>
						<label><span class="glyphicon glyphicon-sunglasses"></span> Name and Surname</label>
						<input type="text" name="name" placeholder="What is your name?">
						</br>
						<label><span class="glyphicon glyphicon-envelope"></span> Send tickets to:</label>
						<input type="text" name="email" placeholder="Enter email adress">
						</br>
						<label><span class="glyphicon glyphicon-user"></span> No. of tickets:</label>
						<input type="number" name="number" placeholder="How many tickets?">
						</br>
						<label for="section"><span class="glyphicon glyphicon-th"></span> Choose Section:</label>
						<select id="section">
							<option value="empty"> </option>
							<option value="golden-circle">Golden Circle</option>
							<option value="standing-front">Standing Front</option>
							<option value="standing-back">Standing Back</option>
							<option value="seated">Seated</option>
						</select>
					</form>
				</div>
				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onClick="alert('Check your email for your tickets!')"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of Get Tickets modal -->

	</br>

	<!-- start of social media following -->
	<!-- found idea at https://codepen.io/PageOnline/pen/eBdjl -->
	<h2 class="white-text">Connect With Us</h2>

	<div class="social-icons">
		<div id="socialicons">
			<div class="social">
 				<a href="http://facebook.com/" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a>
 				<a href="https://youtube.com/" class="link youtube" target="_blank"><span class="fa fa-youtube-square"></span></a>
  				<a href="https://twitter.com/" class="link twitter" target="_blank"><span class="fa fa-twitter"></span></a>
			</div>      
		</div>
	</div>
	<!-- end of social media following -->
</div>