	<image-carousel></image-carousel>

<div id="page-bg">
	</br>

	<div class="container">
	<h2>Welcome to our Site</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p>If you've never heard our music before then head over to our <a href="#!/music">music page</a> to listen to our latest tracks.</p>
	</div>

	</br>

	<h2>Catch us Live!</h2>

	<div class="container">
		<div class="ticket-sale">
			<div class="col-sm-3" id="tickets">
				<h3>Dublin</h3>
				<p>18 March 2017</p>
				<img class="img-responsive img-circle" src="img/dublin.jpg">
				<p class="lead">The Four Leaf Clover</p>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
				<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="ticket-sale">
			<div class="col-sm-3" id="tickets">
				<h3>Glasgow</h3>
				<p>25 March 2017</p>
				<img class="img-responsive img-circle" src="img/glasgow.jpg">
				<p class="lead">The Loch Ness Tavern</p>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
				<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="ticket-sale">
			<div class="col-sm-3" id="tickets">
				<h3>Manchester</h3>
				<p>1 April 2017</p>
				<img class="img-responsive img-circle" src="img/manchester.jpg">
				<p class="lead">The Football Stadium</p>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
				<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>

		<div class="ticket-sale">
			<div class="col-sm-3" id="tickets">
				<h3>London</h3>
				<p>8 April 2017</p>
				<img class="img-responsive img-circle" src="img/london.jpg">
				<p class="lead">The Pigeon Hole</p>
				<p>Come and see us play live at this venue. We will be playing with supporting acts, The Jazzers and Jive Alley</p>
				<div class="text-center">
				<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">Get Tickets</button>
				</div>
			</div>
		</div>
	</div>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Buy Tickets for The Swingers</h4>
				</div>
				<div class="modal-body">
					<form>
						<label><span class="glyphicon glyphicon-sunglasses"></span> Who are these tickets for?</label>
						<input type="text" name="name" placeholder="What is your name?">
						</br>
						<label><span class="glyphicon glyphicon-envelope"></span> Can we get your email?</label>
						<input type="text" name="email" placeholder="A place for tickets to go">
						</br>
						<label><span class="glyphicon glyphicon-user"></span> No. of tickets:</label>
						<input type="number" name="number" placeholder="How many tickets?">
						</br>
						<label for="section"><span class="glyphicon glyphicon-th"></span> Section:</label>
						<select id="section">
							<option value="empty"> </option>
							<option value="golden-circle">Golden Circle</option>
							<option value="standing-front">Standing Front</option>
							<option value="standing-back">Standing Back</option>
							<option value="seated">Seated</option>
						</select>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onClick="alert('Check your email for your tickets!')"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button>
				</div>
			</div>
		</div>
	</div>

	</br>

	<h2>Connect With Us</h2>

	<div class="social-icons">
		<div id="socialicons">
			<div class="social">
 				<a href="http://facebook.com/" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a>
 				<a href="https://youtube.com/" class="link youtube" target="_blank"><span class="fa fa-youtube-square"></span></a>
  				<a href="https://twitter.com/" class="link twitter" target="_blank"><span class="fa fa-twitter"></span></a>
			</div>      
		</div>
	</div>
</div>