<div class="wrapper">

	<!-- Music Video -->
	<h2 class="white-text">Here's our Latest Music Video</h2>
	<div class="video col-xs-12">
		<video controls="controls" preload="metadata" poster="img/TheMonkees.jpg">
		<source src="video/TheMonkees.mp4" type="video/mp4"/>
		Video is not supported by your browser
		</video>
	</div>

	</br>

	<!-- Insert Music Table -->
	<music-table></music-table>
	
	</br>
	
	<!-- Search iTunes Table -->
	<h2 class="white-text">Search iTunes</h2>

	<search-itunes></search-itunes>
</div>