<!--Use a Paralax Background (different from rest of site)-->
<div class="wrapper">

	<!--Music Video-->
	<h1>Here's our Latest Music Video</h1>
	<div class="video col-sm-12">
		<video controls="controls" preload="metadata" poster="img/TheMonkees.jpg">
		<source src="video/TheMonkees.mp4" type="video/mp4"/>
		Video is not supported by your browser
		</video>
	</div>
	<!--End of Music Video-->

	</br>

	<!--Insert Music Table-->
	<music-table></music-table>
	<!--End of Music Table-->
	
	</br>
	
	<!--Search iTunes Table-->
	<h1>Search iTunes</h1>

	<search-itunes></search-itunes>
	<!--End of Search iTunes Table-->
</div>