<div class="paralax">

	<div>
		<h1 class="white-text">The Band Members</h1>
	</div>

	<div class="container">
		<div class="col-sm-6 info">
			<h2 class="white-text">Siobhan | Singer</h2>
			<img class="bandone image" src="img/siobhan-singer.jpg" alt="The Swingers Singer">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"I'm here to sing and to swing...  It's what I've done my whole life!"</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 info">
			<h2 class="white-text">Steve | Guitar</h2>
			<img class="bandone image" src="img/steve-guitar.jpg" alt="The Swingers Guitarist">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"I have a passion for guitar.  I like to have fun - strings attached"</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 info">
			<h2 class="white-text">Mike | Drummer</h2>
			<img class="bandone image" src="img/mike-drums.jpg" alt="The Swingers Drummer">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"Drumming is my life, I would't have it any other way"</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 info">
			<h2 class="white-text">Paddy | Bass</h2>
			<img class="bandone image" src="img/paddy-bass.jpg" alt="The Swingers Bassist">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"Playing bass is the best thing that anyone could do."</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 info">
			<h2 class="white-text">Frank | Saxophone</h2>
			<img class="bandone image" src="img/frank-sax.jpg" alt="The Swingers Saxophonist">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"I've heard that playing the sax is sexy.  Which is fine by me."</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 info">
			<h2 class="white-text">Eoin | Keys</h2>
			<img class="bandone image" src="img/eoin-keys.jpg" alt="The Swingers Keyboard">
			<div class="middle">
				<div class="text">
					<h4 class="white-text">"I couldn't dream of doing anything other than playing keyboard and doing backup vocals"</h4>
				</div>
			</div>
		</div>
	</div>
</div>