<div id="page-bg">
	<div>
		<h2>The Band Members</h2>
	</div>

	<div class="bandmembers">
		<div class="row">
			<div class="col-md-6">
			<img class="bandone" src="img/siobhan-singer.jpg" alt="The Swingers Singer">
			</div>

			<div class="col-md-6">
			<h2>Siobhan | Singer</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			<h2>Steve | Guitar</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>

			<div class="col-md-6">
			<img class="bandtwo" src="img/steve-guitar.jpg" alt="The Swingers Guitarist">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			<img class="bandone" src="img/mike-drums.jpg" alt="The Swingers Drummer">
			</div>

			<div class="col-md-6">
			<h2>Mike | Drums</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h2>Paddy | Bass</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>

			<div class="col-md-6">
			<img class="bandtwo" src="img/paddy-bass.jpg" alt="The Swingers Bassist">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			<img class="bandone" src="img/frank-sax.jpg" alt="The Swingers Saxophonist">
			</div>
			<div class="col-md-6">
			<h2>Frank | Saxophone</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			</div>
		</div>
	</div>
</div>