<!--Use a Paralax Background-->
<div class="paralax">

	<div>
		<h1>The Band Members</h1>
	</div>

	<div class="container">
		<!--Container for Singer-->
		<div class="col-sm-6 info">
			<h2>Siobhan | Singer</h2>
			<img class="bandimg" src="img/siobhan-singer.jpg" alt="The Swingers Singer">
			<div class="middle">
				<div class="text">
					<h4>"I'm here to sing and to swing...  It's what I've done my whole life!"</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Singer-->

		<!--Container for Guitarist-->
		<div class="col-sm-6 info">
			<h2>Steve | Guitar</h2>
			<img class="bandimg" src="img/steve-guitar.jpg" alt="The Swingers Guitarist">
			<div class="middle">
				<div class="text">
					<h4>"I have a passion for guitar.  I like to have fun - strings attached"</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Guitarist-->

		<!--Container for Drummer-->
		<div class="col-sm-6 info">
			<h2>Mike | Drummer</h2>
			<img class="bandimg" src="img/mike-drums.jpg" alt="The Swingers Drummer">
			<div class="middle">
				<div class="text">
					<h4>"Drumming is my life, I would't have it any other way"</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Drummer-->

		<!--Container for Bassist-->
		<div class="col-sm-6 info">
			<h2>Paddy | Bass</h2>
			<img class="bandimg" src="img/paddy-bass.jpg" alt="The Swingers Bassist">
			<div class="middle">
				<div class="text">
					<h4>"Playing bass is the best thing that anyone could do."</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Bassist-->

		<!--Container for Saxophonist-->
		<div class="col-sm-6 info">
			<h2>Frank | Saxophone</h2>
			<img class="bandimg" src="img/frank-sax.jpg" alt="The Swingers Saxophonist">
			<div class="middle">
				<div class="text">
					<h4>"I've heard that playing the sax is sexy.  Which is fine by me."</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Saxophonist-->

		<!--Container for Keyboardist-->
		<div class="col-sm-6 info">
			<h2>Eoin | Keys</h2>
			<img class="bandimg" src="img/eoin-keys.jpg" alt="The Swingers Keyboard">
			<div class="middle">
				<div class="text">
					<h4>"The keyboard is the only way!"</h4>
				</div>
			</div>
		</div>
		<!--End of Container for Keyboardist-->
	</div>

</div>